*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/home/danny/AndroidStudioProjects/NeiuRide/app/src/main/java/com/app/danny/neiuber/Route.java
